.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body
{
  background: #C33764;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.select
{
  margin-left: 4.2%;
  width: 15%;
  border: solid orange;
}

.search
{
  width: 20%;
  margin-left: 50%;
  display: inline;
  padding-left: 2.375rem;
  caret-color: red;
  /* cursor: crosshair; */
}

.search:hover
{
  border: 1px solid blue;
}

.fa-search
{
  margin-left: -19%;
}

.header
{
  margin-top: 2%;
  margin-left: 4.2%;
  margin-bottom: 2%;
  color: darkorange;
}

.img-col
{
  display: flex;
  flex-wrap: wrap;
  float: left;
  flex-direction: column;
  margin-left: 4%;
  margin-bottom: 3%;
  border: 1px solid black;
  cursor: pointer;
  background-color: lightyellow;
  /* height: 10%;
  width: 10%;  */
}

.img-col:hover
{
  background-color: orangered;
  border: 1px solid red;
}

.img-results
{
  height: 150px;
  width: 150px;
}

.img-content
{
  text-align: center;
  color: black;
  max-width: 150px;
  max-height: 48px;
}

.pagination
{
  position: fixed;
  left: 4%;
  top: 92%;
  bottom: 10%;
}

.popup
{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0, 0.4);
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner
{
  position:relative;
  padding: 32px;
  width: 100%;
  max-width: 540px;
  background-color: plum;
  color: black;
}

.popup-inner .btn-close
{
  position: absolute;
  top:16px;
  right:16px;
}

.popup-inner-image
{
  display: flex;
  flex-wrap: wrap;
  float: left;
  flex-direction: column;
  margin-left: 3%;
}

.popup-inner-image img
{
  height: 440px;
  width: 430px;
  /* cursor: default; */
}
